apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {}
    http {
      access_log /var/log/nginx/access.log;
      error_log /var/log/nginx/error.log;

      server {
        listen 80;

        location / {
          proxy_pass http://flask-service:8600;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }
    }

