apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: 950246260461.dkr.ecr.us-east-1.amazonaws.com/minimal-flask-app:latest
        ports:
        - containerPort: 8600
          #
